modules = ["nix"]
audio = false
run = "javac -cp \"$REPL_HOME/cardgames.jar:$REPL_HOME\" Lab3App.java && java -Dsun.java2d.fontpath=$REPL_HOME -cp \"$REPL_HOME/cardgames.jar:$REPL_HOME\" Lab3App"

[nix]
channel = "stable-25_05"

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server -data /tmp/jdtls-workspace"
